* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    text-align: center;
    background-color: lavenderblush;
    background-image: url('moviecurtains.jpg');
    background-repeat: no-repeat;
    background-size: 800%;
}
h1 {
    font-size: 65px;
    text-align: center;
    color:rgb(151, 204, 151);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form {
    padding-bottom: 20px;
}
#instructions {
    color:rgb(122, 117, 224);
    font-size:20px;
    font-weight: 200;
    margin: 0 auto;
    font-weight: 350;
}
li { 
    cursor: pointer;
    color:rgb(152, 206, 152);
    font-size: 20px;
}
li:hover {
    font-style: italic;
    color: cornflowerblue;
}

#title {
    font-size: 40px;
    color: rgb(119, 177, 211);
    font-weight: 600;
    font-style: italic;
}

#genre, #plot, #actors, #rating {
    color:rgb(215, 180, 219);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 7%;
    padding-bottom: 1mm;
}

.type {
    color:cornflowerblue;
}

#actors {
    padding-bottom: 2mm;
}

#poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#movies {
    text-align: left;
    margin-left: 5%;
}

#error {
    color: rgb(138, 64, 64);
}

#submit {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:15px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
    padding:3px 12px;
    text-shadow:0px 1px 0px #cc9f52;
    background-image: url('popcorn.png');
    background-size: 22px;
    background-position: 3px 3px; 
    background-repeat: no-repeat;
    padding: 8px 8px 8px 30px;
}
#submit:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    background-color:#fb9e25;
    background-image: url('popcorn.png');
    background-size: 22px;
    background-position: 3px 3px; 
    background-repeat: no-repeat;
    padding: 8px 8px 8px 30px;
}
#submit:active {
	position:relative;
    top:1px;
    background-image: url('popcorn.png');
    background-size: 22px;
    background-position: 3px 3px; 
    background-repeat: no-repeat;
    padding: 8px 8px 8px 30px;
}
#loadMore {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #9998d4 5%, #4d4986 100%);
	background-color:#a69ddd;
	border-radius:10px;
	border:1px solid #e7ca97;
	display:inline-block;
	cursor:pointer;
	color:#e2f3ec;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
}
#loadMore:hover {
	background:linear-gradient(to bottom, #a3a4db 5%, #b4b0e0 100%);
	background-color:#646e97;
}
#loadMore:active {
	position:relative;
	top:1px;
}

#input{
    width: 35%;
    box-sizing: border-box;
    border: 2px solid rgb(228, 183, 115);
    border-radius: 10px;
    font-size: 17px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 6px; 
    background-repeat: no-repeat;
    padding: 8px 10px 6px 34px;
    transition: width 0.4s ease-in-out;
    opacity: 0.5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(226, 161, 161);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(221, 101, 101);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(221, 101, 101);
}


@media only screen and (min-width: 868px) {
    #title, #genre, #plot, #rating, #actors, #poster {
        margin:4px ;
        grid-area: details;
    }
    #poster {
        margin: 0 auto;
        width: 30%;
    }
    li {
        font-size: 25px;
    }
    body {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 275px auto;
        grid-template-areas: 
            "hdr hdr"
            "lft details";
    }
    header {
        grid-area: hdr;
    }

    #movielist {
        grid-area: lft;
    }
} 