* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    text-align: center;
    background-color: lavenderblush;
}
h1 {
    font-size: 75px;
    text-align: center;
    color:palegreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#title {
    font-size: 50px;
    color: blue;
}

#poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#movies {
    text-align: left;
    margin-left: 5%;
}

ul {
    columns: 2;
}